venv/
.venv/
__pycache__/
*.py[cod]
*.so
.python-version
*.log
*.pot
*.pyc
.env
.venv
env/
ENV/
env.bak/
venv.bak/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
staticfiles/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db