    .hero-fullscreen {
    min-height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background: linear-gradient(90deg, #e0e7ff 0%, #ede9fe 100%);
    /* margin-top: -1rem; */
    margin-top: -70px; 
    }

    .font-poppins {
    font-family: 'Poppins', sans-serif;
    }

    .font-roboto {
    font-family: 'Roboto', sans-serif;
    }