
        .navbar {
            margin: auto;
            display: flex;
            padding: 0.5rem 1rem;
            background: #272459;
            border-radius: 3rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            gap: 0;
        }
        
        .nav-enlaces {
            display: flex;
            align-items: center;
            gap: 2rem;
            font-size: 20px;
            padding: 0 1rem;
        }
        
        .nav-enlace, .desplegable li {
            list-style: none;
            height: 100%;
            padding: 0.5rem 1rem;
            font-weight: 1000;
            cursor: pointer;
            margin: auto;
        }
        
        a {
            text-decoration: none;
            color: currentColor;
        }
        
        .desplegable {
            position: absolute;
            padding: 0.5rem 0;
            margin: 0.5rem -0.5rem;
            background: #8a6ff0;
            color: #fff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;
            font-size: 18px;
            display: none;
            z-index: 1000;
        }
        
        .nav-enlace:hover {
            background-color: #8a6ff0;
            color: #fff;
            border-radius: 0.5rem;
        }
        
        .secciones:hover .desplegable,
        .user-menu:hover .desplegable {
            display: block;
        }
        
        .secciones a, .user-menu a {
            margin: auto;
            display: flex;
            color: #fff;
        }
        
        .desplegable li:hover {
            background: #6a4fcf;
            color: #fff;
            border-radius: 0.5rem;
        }
        
        #logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: contain;
            background-color: transparent;
            padding: 5px;
            margin: 0; /* Elimina márgenes anteriores */
            transition: transform 0.3s ease;
        }
        
        #logo:hover {
            transform: scale(1.05);  /* Efecto de leve crecimiento al pasar el mouse */
        }

        #proyecto_nombre {
            color: #fff;
            font-size: 23px;
            font-weight: 1000;
            margin: 0; /* Elimina márgenes anteriores */
            white-space: nowrap;
        }
        
        .user-icon {
            font-size: 1.8rem;
            color: white;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
        }
        
        .user-icon:hover {
            color: #d8d8d8;
            transform: scale(1.1);
        }
        
        .user-menu {
            position: relative;
        }
        
        .username {
            font-size: 1rem;
            font-weight: bold;
        }
