{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Navbar Patitas a Casa</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-enlaces">
            {% load static %}
            <img src="https://scontent.fmex1-1.fna.fbcdn.net/v/t39.30808-6/506595335_9738621999568323_7544183297867527413_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=aa7b47&_nc_eui2=AeG1QDsFurbTBpRvWag4Fg_8Va6rI-FeSflVrqsj4V5J-dIQlLiSflbxGCa1e4d3cGaeYoBbEhYLRlX2qFXIsOJ-&_nc_ohc=IejBy9nJvJgQ7kNvwGz_2Gy&_nc_oc=AdkFJlquP-mrp5mTlJC0PMbnbSbcib7MGe2QPHE-OMPZWrJ1dO0LJhA5DLBs42QFG9KYERcr89DsbTAw6gDrUmbB&_nc_zt=23&_nc_ht=scontent.fmex1-1.fna&_nc_gid=YvGiETC_Wf3bHxytaFt2-w&oh=00_AfNQgPs_kg62IURzO_H4S8TSakRd-QB8PBMvXBpfdbCcQA&oe=6851970F" alt="Logo" id="logo">
            <p id="proyecto_nombre">Patitas a casa</p>
            <li class="nav-enlace secciones">
                <a href="{% url 'home' %}">Principal</a>
                <ul class="desplegable">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="#">Albergues cercanos</a></li>
                    <li><a href="#">Mapa de reportes</a></li>
                </ul>
            </li>
            
            <li class="nav-enlace secciones">
                <a href="#">About</a>
                <ul class="desplegable">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Docs</a></li>
                    <li><a href="https://mundopatitas.mx/">Quienes somos?</a></li>
                </ul>
            </li>
            
            <li class="nav-enlace secciones">
                <a href="#">Adoptar</a>
                <ul class="desplegable">
                    <li><a href="{% url 'adopciones:quiero_adoptar' %}">Quiero adoptar</a></li>
                    <li><a href="{% url 'adopciones:dar_en_adopcion' %}">Dar en adopción</a></li>
                </ul>
            </li>
            
            <li class="nav-enlace secciones">
                <a href="{% url 'avistamiento_perros:reportar_avistamiento' %}">Reportar</a>
                <ul class="desplegable">
                    <li><a href="{% url 'avistamiento_perros:reportar_avistamiento' %}">Perdido</a></li>
                    <li><a href="#">Avistamiento</a></li>
                </ul>
            </li>
            
            {% if user.is_authenticated %}
                <li class="user-menu">
                    <a href="#" class="user-icon">
                        <i class="fas fa-user"></i>
                        <span class="username">{{ user.first_name|default:user.username }}</span>
                    </a>
                    <ul class="desplegable">
                        <li><a href="{% if user.is_albergue %}{% url 'usuarios:perfil_albergue' %}{% else %}{% url 'usuarios:perfil_ciudadano' %}{% endif %}">
                            <i class="fas fa-user-circle"></i> Mi perfil
                        </a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">
                                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="user-menu">
                    <a href="{% url 'login' %}" class="user-icon">
                        <i class="fas fa-user"></i> Iniciar sesión
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>
