{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Navbar Patitas a Casa</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <img src="{% static 'img/logo.png' %}" alt="Logo" id="logo">
            <p id="proyecto_nombre">Patitas a casa</p>
        </div>
        <ul class="nav-enlaces">
            <li class="nav-enlace secciones">
                <a href="{% url 'home' %}">Principal</a>
                <ul class="desplegable">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="#map">Mapa</a></li>
                </ul>
            </li>
            <li class="nav-enlace secciones">
                <a href="#">About</a>
                <ul class="desplegable">
                    {% comment %} <li><a href="#">Blog</a></li>
                    <li><a href="#">Docs</a></li> {% endcomment %}
                    <li><a href="https://mundopatitas.mx/">Quienes somos?</a></li>
                </ul>
            </li>
            <li class="nav-enlace secciones">
                <a href="#">Adoptar</a>
                <ul class="desplegable">
                    <li><a href="{% url 'adopciones:quiero_adoptar' %}">Quiero adoptar</a></li>
                    <li><a href="{% url 'adopciones:dar_en_adopcion' %}">Dar en adopción</a></li>
                </ul>
            </li>
            <li class="nav-enlace secciones">
                <a href="{% url 'avistamiento_perros:reportar_avistamiento' %}">Reportar</a>
                <ul class="desplegable">
                    <li><a href="{% url 'registro_perro:registro_perro_perdido' %}">Perdido</a></li>
                    <li><a href="{% url 'avistamiento_perros:reportar_avistamiento' %}">Avistamiento</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="user-menu">
                    <a href="#" class="user-icon">
                        <i class="fas fa-user"></i>
                        <span class="username">{{ user.first_name|default:user.username }}</span>
                    </a>
                    <ul class="desplegable">
                        <li>
                            <a href="{% if user.is_albergue %}{% url 'usuarios:perfil_albergue' %}{% else %}{% url 'usuarios:perfil_ciudadano' %}{% endif %}">
                                <i class="fas fa-user-circle"></i> Mi perfil
                            </a>
                        </li>
                        <li>
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="logout-btn">
                                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="user-menu">
                    <a href="{% url 'login' %}" class="user-icon">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>