<!DOCTYPE html>
<html lang = "es-MX">
<head>
	<meta charset = "UTF-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE-edge">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<title>Blog</title>
	<!--<link rel = "stylesheet" href = "css/blog.css">-->
	<!--Fuentes de google (poppins)-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<!--Fuentes epstra-->
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	<link rel = "stylesheet" href = "~/Patitas_a_Casa/frontend/css/blog.css">
<head>
<body>
	<section id = "blog">
	    <!--**Encabezado**-->
	    <div class = "encabezado-blog">
	        <strong>Entradas recientes</strong>
	        <h3>Nuestro blog</h3>
	    </div>
	    <div class ="pestanias-blog">
	    	<!--Cajita donde encerramos la pestaña del blog-->
	    	<!--Primera página del blog-->
	    	<div class = "pestania-blog">
	    	    <!--portada-->
	    	    <div class = "portada">
	    	        <img src = "#" alt = "portada del primer elemento del blog">
	    	        <a href = "#" class = "enlace-imagen">
	    	            <i class = "fa-solid fa-arrow-up-right-from-square"></i>
	    	        </a>
	    	    </div>
	    	    <!--Descripcion-->
	    	    <div class = "descripcion">
	    	    	<strong>Inteligencia Artificial</strong>
	    	    	<a href = "#">Inteligencia artificial, usos, ventajas y desventajas</a>
	    	    	<p>Y aqui está la descripción largota así bien pero si bien, no manchester yunaited y tu dices pero si vas a comer chile kdkadñlaksdlaskdañsdka lakdñlakdñladkñlasdkañld</p>
	    	    </div>
	    	    <!--Autor-->
	    	    <div class = "autor-blog">
	    	        <div class = "imagen-autor">
	    	            <img src = "#" alt ="foto del autor1">
	    	        </div>
	    	        <div class = "descripcion-autor">
	    	            <strong>Alax</strong>
	    	            <span>Jan 12, 2025</span>
	    	        </div>
	    	    </div>
	    	</div>
	    	<!--Segunda página del blog-->
	    	<div class = "pestania-blog">
	    	    <!--portada-->
	    	    <div class = "portada">
	    	        <img src = "#" alt = "portada del primer elemento del blog">
	    	        <a href = "#" class = "enlace-imagen">
	    	            <i class = "fa-solid fa-arrow-up-right-from-square"></i>
	    	        </a>
	    	    </div>
	    	    <!--Descripcion-->
	    	    <div class = "descripcion">
	    	    	<strong>Inteligencia Artificial</strong>
	    	    	<a href = "#">Inteligencia artificial, usos, ventajas y desventajas</a>
	    	    	<p>Y aqui está la descripción largota así bien pero si bien, no manchester yunaited y tu dices pero si vas a comer chile kdkadñlaksdlaskdañsdka lakdñlakdñladkñlasdkañld</p>
	    	    </div>
	    	    <!--Autor-->
	    	    <div class = "autor-blog">
	    	        <div class = "imagen-autor">
	    	            <img src = "#" alt ="foto del autor1">
	    	        </div>
	    	        <div class = "descripcion-autor">
	    	            <strong>Alax</strong>
	    	            <span>Jan 12, 2025</span>
	    	        </div>
	    	    </div>
	    	</div>
	    <!--Tercera página del blog-->
	    <div class = "pestania-blog">
	    	    <!--portada-->
	    	    <div class = "portada">
	    	        <img src = "#" alt = "portada del primer elemento del blog">
	    	        <a href = "#" class = "enlace-imagen">
	    	            <i class = "fa-solid fa-arrow-up-right-from-square"></i>
	    	        </a>
	    	    </div>
	    	    <!--Descripcion-->
	    	    <div class = "descripcion">
	    	    	<strong>Inteligencia Artificial</strong>
	    	    	<a href = "#">Inteligencia artificial, usos, ventajas y desventajas</a>
	    	    	<p>Y aqui está la descripción largota así bien pero si bien, no manchester yunaited y tu dices pero si vas a comer chile kdkadñlaksdlaskdañsdka lakdñlakdñladkñlasdkañld</p>
	    	    </div>
	    	    <!--Autor-->
	    	    <div class = "autor-blog">
	    	        <div class = "imagen-autor">
	    	            <img src = "#" alt ="foto del autor1">
	    	        </div>
	    	        <div class = "descripcion-autor">
	    	            <strong>Alax</strong>
	    	            <span>Jan 12, 2025</span>
	    	        </div>
	    	    </div>
	    	</div>
	    	<!--Cuarta página del blog-->
	    	<div class = "pestania-blog">
	    	    <!--portada-->
	    	    <div class = "portada">
	    	        <img src = "#" alt = "portada del primer elemento del blog">
	    	        <a href = "#" class = "enlace-imagen">
	    	            <i class = "fa-solid fa-arrow-up-right-from-square"></i>
	    	        </a>
	    	    </div>
	    	    <!--Descripcion-->
	    	    <div class = "descripcion">
	    	    	<strong>Inteligencia Artificial</strong>
	    	    	<a href = "#">Inteligencia artificial, usos, ventajas y desventajas</a>
	    	    	<p>Y aqui está la descripción largota así bien pero si bien, no manchester yunaited y tu dices pero si vas a comer chile kdkadñlaksdlaskdañsdka lakdñlakdñladkñlasdkañld</p>
	    	    </div>
	    	    <!--Autor-->
	    	    <div class = "autor-blog">
	    	        <div class = "imagen-autor">
	    	            <img src = "#" alt ="foto del autor1">
	    	        </div>
	    	        <div class = "descripcion-autor">
	    	            <strong>Alax</strong>
	    	            <span>Jan 12, 2025</span>
	    	        </div>
	    	    </div>
	    	</div>
	    <!--Final del blog-->
	    </div>
	    
	</section>
</body>
</html>









